Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, go_format, go_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Cleanup.
  client/dart/lib/src/client.dart
  client/dart/lib/src/sse.dart
  client/dart/lib/trailbase.dart
  client/dart/test/trailbase_test.dart
Due: none

Prepare new release of dart client.
  client/dart/pubspec.yaml
Due: none

Update dart client to use `http` instead of `dio` and prepare new release v0.5.0.
  client/dart/CHANGELOG.md
  client/dart/lib/src/client.dart
  client/dart/lib/src/sse.dart
  client/dart/lib/trailbase.dart
  client/dart/pubspec.yaml
  client/dart/test/trailbase_test.dart
  pubspec.lock
Due: none

Prepare new release of TS client: v0.7.4.
  crates/assets/js/client/package.json
Due: none

Add dotnet componen benchmark results.
  docs/src/content/blog/_switching_to_a_wasm_runtime.tsx
  guests/dotnet/Library.cs
  guests/dotnet/bin/Release/net10.0/wasi-wasm/native/Guest.wasm
Due: none

Work around dotnet WASM header bug.
  guests/dotnet/Guest.csproj
  guests/dotnet/Library.cs
  guests/dotnet/bin/Release/net10.0/wasi-wasm/native/Guest.wasm
Due: none

Repro for failing dotnet component.
  crates/wasm-runtime-host/src/bin/repro.rs
  guests/dotnet/Guest.csproj
  guests/dotnet/Library.cs
  guests/dotnet/Makefile
  guests/dotnet/bin/Release/net10.0/wasi-wasm/native/Guest.wasm
Due: cargofmt, cargoclippy, cargotest

PoC: working dotnet WASM component after downgrading compiler version.
  guests/dotnet/Guest.csproj
  guests/dotnet/Library.cs
  guests/dotnet/bin/Release/net10.0/wasi-wasm/native/Guest.wasm
Due: none

Baby-steps.
  guests/dotnet/.gitignore
  guests/dotnet/Guest.csproj
  guests/dotnet/Library.cs
  guests/dotnet/wit/trailbase.wit
Due: none

Playing around with dotnet compositional options.
  guests/dotnet/Library.cs
  guests/dotnet/bin/Release/net10.0/wasi-wasm/native/Guest.wasm
Due: none

Add InitArgument.
  guests/dotnet/Guest.csproj
  guests/dotnet/Library.cs
  guests/dotnet/wit/trailbase.wit
Due: none

Add support for record-filtered subscriptions to dotnet client.
  client/dart/lib/src/client.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/RecordApi.cs
Due: none

Fix multiple filters on same column for date range queries.
  crates/qs/src/filter.rs
  crates/qs/src/query.rs
Due: cargofmt, cargoclippy, cargotest

Update docs to demonstrate multiple filters on same column.
  docs/examples/record_api_curl/list.sh
  docs/examples/record_api_dotnet/List.cs
  docs/examples/record_api_go/list.go
  docs/examples/record_api_py/record_api_py/list.py
  docs/examples/record_api_rs/src/list.rs
  docs/examples/record_api_swift/Sources/RecordApiDocs/List.swift
  docs/examples/record_api_ts/src/list.ts
  docs/src/content/docs/documentation/apis_record.mdx
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, go_format, go_test, swift_format, swift_test

Fix multiple filters on the same column. #158
  crates/qs/src/filter.rs
  crates/qs/src/query.rs
  docs/src/content/docs/documentation/apis_record.mdx
Due: cargofmt, cargoclippy, cargotest

Streamline filter query parsing and allow $and/$or sequences of length >= 1.
  crates/qs/src/column_rel_value.rs
  crates/qs/src/filter.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Prepare new release v0.18.2.
  CHANGELOG.md
Due: none

Change WASM execution model from a per-component executor to a shared executor.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/core/Cargo.toml
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/oauth/state.rs
Due: cargofmt, cargoclippy, cargotest

Remove WIT `thread-id` method after changing the execution model.
  client/testfixture/guests/rust/Makefile
  client/testfixture/wasm/auth_ui_component.wasm
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/auth-ui/Makefile
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/wit/trailbase.wit
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/generated/types/interfaces/trailbase-runtime-host-endpoint.d.ts
  guests/typescript/src/index.ts
  guests/typescript/wit/trailbase.wit
Due: cargofmt, cargoclippy, cargotest

Make clippy happy.
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.18.3.
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime-guest/Cargo.toml
  guests/typescript/package.json
Due: none

Dart client: remove abstractions, questionable APIs and failure modes.
  client/dart/lib/src/client.dart
  client/dart/lib/src/sse.dart
  client/dart/lib/trailbase.dart
  client/dart/pubspec.yaml
  client/dart/test/trailbase_test.dart
Due: none

Dart client: test addFilterParams and simplify token constructor.
  client/dart/lib/src/client.dart
  client/dart/pubspec.yaml
  client/dart/test/trailbase_test.dart
Due: none

WIP: Add basic RecordAPI support.
  client/dart/lib/src/client.dart
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/main/kotlin/Library.kt
  client/kotlin/lib/src/test/kotlin/LibraryTest.kt
Due: none

Basic client (no subscription suppor yet).
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/main/kotlin/Library.kt
  client/kotlin/lib/src/test/kotlin/LibraryTest.kt
Due: none

WIP: Add scaffolding for a Kotlin client.
  client/kotlin/.gitattributes
  client/kotlin/.gitignore
  client/kotlin/Makefile
  client/kotlin/gradle.properties
  client/kotlin/gradle/libs.versions.toml
  client/kotlin/gradle/wrapper/gradle-wrapper.jar
  client/kotlin/gradle/wrapper/gradle-wrapper.properties
  client/kotlin/gradlew
  client/kotlin/gradlew.bat
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/main/kotlin/Library.kt
  client/kotlin/lib/src/test/kotlin/LibraryTest.kt
  client/kotlin/settings.gradle.kts
Due: none

Add kotlin mention to docs.
  README.md
  docs/src/assets/flutter_logo.svg
  docs/src/assets/kotlin_logo.svg
  docs/src/content/docs/index.mdx
Due: none

Add an initial Kotlin client. #146 #144
  README.md
  client/dart/lib/src/client.dart
  client/kotlin/.gitattributes
  client/kotlin/.gitignore
  client/kotlin/Makefile
  client/kotlin/gradle.properties
  client/kotlin/gradle/libs.versions.toml
  client/kotlin/gradle/wrapper/gradle-wrapper.jar
  client/kotlin/gradle/wrapper/gradle-wrapper.properties
  client/kotlin/gradlew
  client/kotlin/gradlew.bat
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/main/kotlin/Library.kt
  client/kotlin/lib/src/test/kotlin/LibraryTest.kt
  client/kotlin/settings.gradle.kts
  docs/src/assets/flutter_logo.svg
  docs/src/assets/kotlin_logo.svg
  docs/src/content/docs/index.mdx
Due: none

Make kotlin integration tests "hermetic" and hook 'em up with CI.
  .pre-commit-config.yaml
  client/kotlin/lib/src/test/kotlin/LibraryTest.kt
Due: none

Add plugin and setup for publishing our kotlin client to maven central.
  client/kotlin/.gitignore
  client/kotlin/Makefile
  client/kotlin/gradle/libs.versions.toml
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/test/kotlin/LibraryTest.kt
Due: none

Add kotlin examples to docs. #144 #146
  client/kotlin/Makefile
  client/kotlin/buildSrc/build.gradle.kts
  client/kotlin/buildSrc/settings.gradle.kts
  client/kotlin/buildSrc/src/main/kotlin/buildlogic.kotlin-common-conventions.gradle.kts
  client/kotlin/examples/record_api/build.gradle.kts
  client/kotlin/examples/record_api/src/main/kotlin/Create.kt
  client/kotlin/examples/record_api/src/main/kotlin/Delete.kt
  client/kotlin/examples/record_api/src/main/kotlin/List.kt
  client/kotlin/examples/record_api/src/main/kotlin/Main.kt
  client/kotlin/examples/record_api/src/main/kotlin/Read.kt
  client/kotlin/examples/record_api/src/main/kotlin/SimpleStrict.kt
  client/kotlin/examples/record_api/src/main/kotlin/Update.kt
  client/kotlin/examples/record_api/src/test/kotlin/AppTest.kt
  client/kotlin/gradle/libs.versions.toml
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/main/kotlin/Library.kt
  client/kotlin/settings.gradle.kts
  docs/examples/record_api_kotlin
  docs/src/content/docs/documentation/apis_record.mdx
Due: none
