Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, go_format, go_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Minor: add a todo.
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/time.rs
Due: cargofmt, cargoclippy, cargotest

wip: update `js` client api
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
Due: none

WIP: WASM update.
  crates/core/Cargo.toml
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
  docs/src/pages/blog/[slug].astro
Due: none

Add a TS guest to coffee-vector-search-example and update a bunch of documentation.
  README.md
  docs/src/components/layout/Hero.astro
  docs/src/content/docs/comparison/pocketbase.mdx
  docs/src/content/docs/documentation/apis_js.mdx
  docs/src/content/docs/getting-started/first-ui-app.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/benchmarks.mdx
  examples/coffee-vector-search/Makefile
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/coffee-vector-search/guests/typescript/.gitignore
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/guests/typescript/src/component.js
  examples/coffee-vector-search/guests/typescript/src/index.ts
  examples/coffee-vector-search/guests/typescript/tsconfig.json
  examples/coffee-vector-search/guests/typescript/vite.config.ts
  examples/coffee-vector-search/traildepot/.gitignore
  examples/coffee-vector-search/traildepot/scripts.delme/main.ts
  examples/coffee-vector-search/traildepot/wasm/coffee_vector_search_rust_guest.wasm
  examples/collab-clicker-ssr/guests/typescript/src/index.ts
  pnpm-workspace.yaml
Due: cargofmt, cargoclippy, cargotest

Update custom-endpoint documentation.
  docs/src/content/docs/documentation/apis_js.mdx
  examples/coffee-vector-search/guests/typescript/src/index.ts
  examples/coffee-vector-search/package.json
Due: none

wip: update js client api
  crates/assets/js/client/src/index.ts
Due: none

Add request body accessors to JS/TS WASM runtime.
  client/testfixture/guests/typescript/eslint.config.mjs
  client/testfixture/guests/typescript/package.json
  client/testfixture/guests/typescript/src/index.ts
  docs/src/content/docs/documentation/apis_js.mdx
  examples/coffee-vector-search/guests/typescript/src/index.ts
  examples/collab-clicker-ssr/guests/typescript/src/index.ts
  examples/wasm-guest-ts/src/index.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/index.ts
  pnpm-lock.yaml
Due: none

Add a stricter Request abstraction to js/ts WASM guest runtime.
  client/testfixture/guests/typescript/src/index.ts
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/http/request.ts
  guests/typescript/src/index.ts
Due: none

Streamline examples/wasm-guest-(js|ts).
  crates/wasm-runtime-host/src/lib.rs
  examples/wasm-guest-js/.gitignore
  examples/wasm-guest-js/Makefile
  examples/wasm-guest-js/eslint.config.mjs
  examples/wasm-guest-js/package.json
  examples/wasm-guest-js/src/index.js
  examples/wasm-guest-ts/Makefile
  examples/wasm-guest-ts/eslint.config.mjs
  examples/wasm-guest-ts/package.json
  examples/wasm-guest-ts/src/component.ts
  examples/wasm-guest-ts/src/index.ts
  examples/wasm-guest-ts/vite.config.ts
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/index.ts
  pnpm-lock.yaml
Due: cargofmt, cargoclippy, cargotest

Add a Job abstraction to JS/TS guest runtime.
  examples/coffee-vector-search/Makefile
  examples/collab-clicker-ssr/Makefile
  examples/wasm-guest-js/Makefile
  examples/wasm-guest-js/src/index.js
  examples/wasm-guest-ts/Makefile
  examples/wasm-guest-ts/src/index.ts
  guests/typescript/package.json
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/index.ts
  guests/typescript/src/job/index.ts
  guests/typescript/vite.config.ts
Due: none

Streamline Rust guest abstractions.
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/fs.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/testdata/rust_guest.wasm
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/coffee-vector-search/traildepot/wasm/coffee_vector_search_rust_guest.wasm
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/wasm-guest-rust/Makefile
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Avoid Arc in single-threaded rust guest.
  crates/wasm-runtime-guest/src/http.rs
Due: cargofmt, cargoclippy, cargotest

More Rust guest streamlining.
  client/testfixture/guests/rust/src/lib.rs
  crates/wasm-runtime-guest/src/http.rs
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Move routes into a routing sub-module.
  client/testfixture/guests/rust/src/lib.rs
  crates/wasm-runtime-guest/src/fs.rs
  crates/wasm-runtime-guest/src/http.rs
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Update dependencies.
  Cargo.lock
Due: none

Allow unit returns on job handlers and validate spec.
  client/testfixture/guests/rust/src/lib.rs
  crates/wasm-runtime-guest/src/job.rs
  crates/wasm-runtime-guest/src/lib.rs
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Decouple rust guest example from host wasm runtime tests.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/testdata/rust_guest.wasm
  examples/wasm-guest-rust/.gitignore
  examples/wasm-guest-rust/Makefile
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Finale clean up
  .pre-commit-config.yaml
  crates/assets/js/client/src/index.ts
Due: none

Call out R/O file access explicitly.
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
Due: none

Fix tanstack example link. #143
  docs/src/content/docs/index.mdx
  docs/src/lib/github.ts
Due: none

Check repo links in more replaces to protect against stale documentation references.
  docs/astro.config.ts
  docs/src/components/layout/Footer.astro
  docs/src/components/layout/SiteTitle.astro
  docs/src/config.ts
  docs/src/content/docs/comparison/pocketbase.mdx
  docs/src/content/docs/getting-started/first-cli-app.mdx
  docs/src/content/docs/getting-started/first-realtime-app.mdx
  docs/src/content/docs/getting-started/first-ui-app.mdx
  docs/src/content/docs/getting-started/install.mdx
  docs/src/content/docs/index.mdx
  docs/src/lib/github.ts
Due: none

wip: enable record transactions for tests
  client/testfixture/config.textproto
Due: none

Revert
  .pre-commit-config.yaml
  client/dart/lib/src/client.dart
  client/dart/lib/src/transaction.dart
  client/dart/lib/trailbase.dart
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/TransactionApi.cs
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/transaction_api.go
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Sources/TrailBase/Transaction.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  client/testfixture/config.textproto
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, go_format, go_test, swift_format, swift_test

wip: add transaction support to `js` client
  .pre-commit-config.yaml
  client/testfixture/config.textproto
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/core/src/records/transaction.rs
Due: cargofmt, cargoclippy, cargotest

wip: add transaction support to clients
  .pre-commit-config.yaml
  client/dart/lib/src/client.dart
  client/dart/lib/src/transaction.dart
  client/dart/lib/trailbase.dart
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/TransactionApi.cs
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/transaction_api.go
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Sources/TrailBase/Transaction.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, go_format, go_test, swift_format, swift_test

wip: clean up some clients transaction support code
  client/dart/lib/src/transaction.dart
  client/dotnet/trailbase/TransactionApi.cs
  client/go/trailbase/transaction_api.go
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/Transaction.swift
  crates/assets/js/client/src/index.ts
  crates/client/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, go_format, go_test, swift_format, swift_test

Keep wire-representation internal, add createBulk back in for now, export DeferredOperations, add convenience types.
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
Due: none

Add non-transaction bulk support and expose bulk/transaction API as `client.execute` on JS/TS client.
  client/testfixture/config.textproto
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/core/src/records/transaction.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Prepare new server v0.16.9 and TS client release.
  CHANGELOG.md
  crates/assets/js/client/package.json
Due: none

Fix: fixed broken url
  docs/src/lib/github.ts
Due: none

docs: revert url construction for `githubCodeReference`. Thanks @lukasz0707. Fixes #145.
  docs/src/content/docs/comparison/pocketbase.mdx
  docs/src/content/docs/getting-started/first-realtime-app.mdx
  docs/src/content/docs/getting-started/first-ui-app.mdx
  docs/src/content/docs/index.mdx
  docs/src/lib/github.ts
Due: none

Test concurrent transactions.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

MvP multi-threaded WASI runtime.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Cargo.lock
  tests/rust-wasm-guest/Cargo.toml
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Pass sqlite DB into WASM runtime.
  Cargo.lock
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Bring plain js wasm example up-to-date.
  pnpm-lock.yaml
  tests/http-hello-world/package.json
  tests/js-wasm-guest/componentize.js
  tests/js-wasm-guest/index.js
  tests/js-wasm-guest/package.json
  tests/js-wasm-guest/runtime.js
Due: none

Add `kind` to HttpContext, i.e. http vs job requests.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  tests/runtime/src/trailbase.ts
Due: cargofmt, cargoclippy, cargotest
