Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, go_format, go_test, swift_format, swift_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: poetry -C client/python run pyright --outputjson
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

Some cleanup and reuse first connection deliberately.
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Add some basic readFileSync and KV abstractions to TS/JS runtime.
  examples/collab-clicker-ssr/Makefile
  examples/collab-clicker-ssr/guests/typescript/src/index.ts
  guests/typescript/src/fs.ts
  guests/typescript/src/index.ts
  guests/typescript/src/kv.ts
  guests/typescript/tsconfig.json
Due: none

Remove unwraps.
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/kv.rs
  crates/wasm-runtime-guest/src/lib.rs
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Move WASM components from `<depot>/scripts` to `/wasm` and allow for multiple components.
  client/testfixture/.gitignore
  client/testfixture/guests/rust/Makefile
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/core/src/app_state.rs
  crates/core/src/data_dir.rs
  crates/core/src/js/runtime.rs
  crates/core/src/server/mod.rs
  crates/core/src/wasm/mod.rs
  examples/coffee-vector-search/guests/rust/Makefile
  examples/collab-clicker-ssr/guests/rust/Makefile
Due: cargofmt, cargoclippy, cargotest

Use kv and fs in collab-clicker-ssr guest.
  crates/wasm-runtime-guest/src/kv.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/atomic.wit
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/batch.wit
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/store.wit
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/watch.wit
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/world.wit
  crates/wasm-runtime/wit/trailbase.wit
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/collab-clicker-ssr/traildepot/.gitignore
Due: cargofmt, cargoclippy, cargotest

Add a simple read_file abstraction for rust WASM guests.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/fs.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Make WASM sandboxed filesystem root a command line argument.
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/core/src/app_state.rs
  crates/core/src/server/init.rs
  crates/core/src/server/mod.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-host/src/lib.rs
  examples/collab-clicker-ssr/Makefile
  examples/collab-clicker-ssr/guests/rust/Makefile
Due: cargofmt, cargoclippy, cargotest

WIP: WASM update.
  crates/core/Cargo.toml
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
  docs/src/pages/blog/[slug].astro
Due: none

Synchronize WASI KV store and install.
  Cargo.lock
  crates/core/src/wasm/mod.rs
  crates/wasi-keyvalue/Cargo.toml
  crates/wasi-keyvalue/src/lib.rs
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Minor: some linter issues.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

More default threads for WASM runtime.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add a TS guest to coffee-vector-search-example and update a bunch of documentation.
  README.md
  docs/src/components/layout/Hero.astro
  docs/src/content/docs/comparison/pocketbase.mdx
  docs/src/content/docs/documentation/apis_js.mdx
  docs/src/content/docs/getting-started/first-ui-app.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/benchmarks.mdx
  examples/coffee-vector-search/Makefile
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/coffee-vector-search/guests/typescript/.gitignore
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/guests/typescript/src/component.js
  examples/coffee-vector-search/guests/typescript/src/index.ts
  examples/coffee-vector-search/guests/typescript/tsconfig.json
  examples/coffee-vector-search/guests/typescript/vite.config.ts
  examples/coffee-vector-search/traildepot/.gitignore
  examples/coffee-vector-search/traildepot/scripts.delme/main.ts
  examples/coffee-vector-search/traildepot/wasm/coffee_vector_search_rust_guest.wasm
  examples/collab-clicker-ssr/guests/typescript/src/index.ts
  pnpm-workspace.yaml
Due: cargofmt, cargoclippy, cargotest

Streamline examples/wasm-guest-(js|ts).
  crates/wasm-runtime-host/src/lib.rs
  examples/wasm-guest-js/.gitignore
  examples/wasm-guest-js/Makefile
  examples/wasm-guest-js/eslint.config.mjs
  examples/wasm-guest-js/package.json
  examples/wasm-guest-js/src/index.js
  examples/wasm-guest-ts/Makefile
  examples/wasm-guest-ts/eslint.config.mjs
  examples/wasm-guest-ts/package.json
  examples/wasm-guest-ts/src/component.ts
  examples/wasm-guest-ts/src/index.ts
  examples/wasm-guest-ts/vite.config.ts
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/index.ts
  pnpm-lock.yaml
Due: cargofmt, cargoclippy, cargotest

More Rust guest streamlining.
  client/testfixture/guests/rust/src/lib.rs
  crates/wasm-runtime-guest/src/http.rs
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Decouple rust guest example from host wasm runtime tests.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/testdata/rust_guest.wasm
  examples/wasm-guest-rust/.gitignore
  examples/wasm-guest-rust/Makefile
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add request body accessors to JS/TS WASM runtime.
  client/testfixture/guests/typescript/eslint.config.mjs
  client/testfixture/guests/typescript/package.json
  client/testfixture/guests/typescript/src/index.ts
  docs/src/content/docs/documentation/apis_js.mdx
  examples/coffee-vector-search/guests/typescript/src/index.ts
  examples/collab-clicker-ssr/guests/typescript/src/index.ts
  examples/wasm-guest-ts/src/index.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/index.ts
  pnpm-lock.yaml
Due: none

Allow unit returns on job handlers and validate spec.
  client/testfixture/guests/rust/src/lib.rs
  crates/wasm-runtime-guest/src/job.rs
  crates/wasm-runtime-guest/src/lib.rs
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Minor: expand oppourtunities in update article.
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
Due: none

Call out R/O file access explicitly.
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
Due: none

Update custom-endpoint documentation.
  docs/src/content/docs/documentation/apis_js.mdx
  examples/coffee-vector-search/guests/typescript/src/index.ts
  examples/coffee-vector-search/package.json
Due: none

Streamline Rust guest abstractions.
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/fs.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/testdata/rust_guest.wasm
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/coffee-vector-search/traildepot/wasm/coffee_vector_search_rust_guest.wasm
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/wasm-guest-rust/Makefile
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add a Job abstraction to JS/TS guest runtime.
  examples/coffee-vector-search/Makefile
  examples/collab-clicker-ssr/Makefile
  examples/wasm-guest-js/Makefile
  examples/wasm-guest-js/src/index.js
  examples/wasm-guest-ts/Makefile
  examples/wasm-guest-ts/src/index.ts
  guests/typescript/package.json
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/index.ts
  guests/typescript/src/job/index.ts
  guests/typescript/vite.config.ts
Due: none

Add a stricter Request abstraction to js/ts WASM guest runtime.
  client/testfixture/guests/typescript/src/index.ts
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/http/request.ts
  guests/typescript/src/index.ts
Due: none

Piggy-back a quickjs fibonacci benchmark into ssr example :hide:.
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Avoid Arc in single-threaded rust guest.
  crates/wasm-runtime-guest/src/http.rs
Due: cargofmt, cargoclippy, cargotest

Add fib(40) benchmark results.
  docs/src/content/blog/_switching_to_a_wasm_runtime.tsx
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
Due: none

Move routes into a routing sub-module.
  client/testfixture/guests/rust/src/lib.rs
  crates/wasm-runtime-guest/src/fs.rs
  crates/wasm-runtime-guest/src/http.rs
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Give access to path params to Rust guests and further polish update.
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/lib.rs
  docs/src/components/BarChart.tsx
  docs/src/content/blog/_switching_to_a_wasm_runtime.tsx
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
  docs/src/content/docs/documentation/apis_js.mdx
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add Runtime results back to benchmarks and enable blog by default.
  docs/astro.config.ts
  docs/src/components/layout/SiteTitle.astro
  docs/src/content/blog/_switching_to_a_wasm_runtime.tsx
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
  docs/src/content/docs/reference/_benchmarks/wasm_runtime.tsx
  docs/src/content/docs/reference/benchmarks.mdx
  docs/src/pages/blog.astro
  docs/src/pages/blog/[slug].astro
Due: none

Move all `<traildepot/scripts` folders to `scripts.delme` to avoid conflicts when re-enabling v8 by default.
  client/testfixture/.gitignore
  client/testfixture/scripts.delme/index.ts
  examples/collab-clicker-ssr/traildepot/.gitignore
  examples/collab-clicker-ssr/traildepot/scripts.delme/main.ts
Due: none

Re-enable v8 by default and rename `--js-runtime-threads` to `--runtime-threads` and `--wasm-root-dir` to `--runtime-root-fs`.
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/go/trailbase/client_test.go
  client/python/tests/test_client.py
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/client/tests/integration_test_runner.ts
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/client/tests/integration_test.rs
  crates/core/Cargo.toml
  crates/core/src/app_state.rs
  crates/core/src/server/init.rs
  crates/core/src/server/mod.rs
  crates/core/tests/admin_permissions_test.rs
  crates/core/tests/integration_test.rs
  crates/core/tests/tls_test.rs
  crates/wasm-runtime-guest/src/job.rs
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
  docs/src/content/docs/reference/benchmarks.mdx
  examples/collab-clicker-ssr/Makefile
  examples/custom-binary/src/main.rs
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, go_format, go_test, swift_format, swift_test

Address clippy issues.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add Rust WASM guest runtime and examples.
  Cargo.lock
  Cargo.toml
  client/testfixture/guests/rust/Cargo.lock
  client/testfixture/guests/rust/Cargo.toml
  client/testfixture/guests/rust/Makefile
  client/testfixture/guests/rust/src/lib.rs
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/fetch.rs
  crates/wasm-runtime-guest/src/fs.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/job.rs
  crates/wasm-runtime-guest/src/kv.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/src/time.rs
  examples/wasm-guest-rust/.gitignore
  examples/wasm-guest-rust/Cargo.lock
  examples/wasm-guest-rust/Cargo.toml
  examples/wasm-guest-rust/Makefile
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Migrate `examples/coffee-vector-search` to WASM.
  Cargo.lock
  Cargo.toml
  docs/src/content/docs/getting-started/first-ui-app.mdx
  examples/coffee-vector-search/Makefile
  examples/coffee-vector-search/guests/rust/Cargo.lock
  examples/coffee-vector-search/guests/rust/Cargo.toml
  examples/coffee-vector-search/guests/rust/Makefile
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/coffee-vector-search/guests/typescript/.gitignore
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/guests/typescript/src/component.js
  examples/coffee-vector-search/guests/typescript/src/index.ts
  examples/coffee-vector-search/guests/typescript/tsconfig.json
  examples/coffee-vector-search/guests/typescript/vite.config.ts
  examples/coffee-vector-search/package.json
  examples/coffee-vector-search/traildepot/.gitignore
  examples/coffee-vector-search/traildepot/scripts.delme/main.ts
  examples/coffee-vector-search/traildepot/wasm/coffee_vector_search_rust_guest.wasm
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargofmt, cargoclippy, cargotest

Update documentation to cover the new WASM runtime.
  README.md
  docs/astro.config.ts
  docs/src/components/BarChart.tsx
  docs/src/components/layout/Hero.astro
  docs/src/components/layout/SiteTitle.astro
  docs/src/content/blog/_switching_to_a_wasm_runtime.tsx
  docs/src/content/blog/_wasm_logo.svg
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
  docs/src/content/docs/comparison/pocketbase.mdx
  docs/src/content/docs/documentation/apis_js.mdx
  docs/src/content/docs/getting-started/first-ui-app.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/_benchmarks/wasm_runtime.tsx
  docs/src/content/docs/reference/benchmarks.mdx
  docs/src/pages/blog.astro
  docs/src/pages/blog/[slug].astro
Due: none

Migrate `examples/collab-clicker-ssr` to WASM.
  Cargo.lock
  Cargo.toml
  examples/collab-clicker-ssr/Makefile
  examples/collab-clicker-ssr/eslint.config.mjs
  examples/collab-clicker-ssr/guests/rust/Cargo.lock
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/collab-clicker-ssr/guests/typescript/.gitignore
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/guests/typescript/src/component.js
  examples/collab-clicker-ssr/guests/typescript/src/index.ts
  examples/collab-clicker-ssr/guests/typescript/tsconfig.json
  examples/collab-clicker-ssr/guests/typescript/vite.config.ts
  examples/collab-clicker-ssr/traildepot/.gitignore
  examples/collab-clicker-ssr/traildepot/scripts.delme/main.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Update JS dependencies.
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/auth/package.json
  crates/assets/js/client/package.json
  crates/js-runtime/assets/runtime/package.json
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
