Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, go_format, go_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Add client tests for WebSocket subscriptions.
  Cargo.lock
  crates/cli/Cargo.toml
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: none

Improve Rust client's test setup.
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Fix WebSocket realtime subscriptions by sending SSE events only for SSE subscriptions.
  crates/core/src/records/subscribe.rs
  crates/qs/src/query.rs
Due: cargofmt, cargoclippy, cargotest

Move WS subscriptions behind the same endpoint as SSE and improve error handling.
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/records/mod.rs
  crates/core/src/records/subscribe.rs
  crates/qs/Cargo.toml
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.22.13.
  CHANGELOG.md
Due: none

Minor: update tag line.
  README.md
  client/dart/README.md
  client/dotnet/trailbase/README.md
  client/python/README.md
  crates/assets/js/client/README.md
  docs/src/components/layout/Hero.astro
  docs/src/content/docs/index.mdx
Due: none

Update JavaScript dependencies & and downgrade Astro (newer versions break our docs, client islands broken?).
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/client/package.json
  crates/auth-ui/ui/package.json
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
Due: none

Allow for late auth with an explicit WebSocket messages, since Browsers and NodeJS don't allow setting headers on the UPGRADE HTTP request.
  crates/assets/js/bindings/WsProtocol.ts
  crates/core/src/auth/api/refresh.rs
  crates/core/src/auth/api/status.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/user.rs
  crates/core/src/records/subscribe.rs
  crates/core/src/util.rs
Due: cargofmt, cargoclippy, cargotest

Add WebSocket subscription API and tests to JS/TS client.
  crates/assets/js/client/package.json
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/constants.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/integration_test_runner.ts
  pnpm-lock.yaml
Due: none

Merge WASM-host implementations for HTTP/Job handlers and SQLite functions. Also extend SQLite function state life-cycle to persist and be shared.
  Cargo.lock
  Cargo.toml
  client/testfixture/guests/rust/Makefile
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/README.md
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/assets/js/client/tests/integration_test_runner.ts
  crates/core/src/connection.rs
  crates/core/src/lib.rs
  crates/core/src/records/subscribe.rs
  crates/core/src/server/init.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust toolchain version to 1.93.
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
Due: none

Use WASM Store::run_concurrent.
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.23.0.
  CHANGELOG.md
Due: none

Change client library's license to a "OSL-3.0 OR Apache-2.0" dual license. #192
  CHANGELOG.md
  README.md
  client/LICENSE-APACHE
  client/dart/LICENSE
  client/dotnet/trailbase/TrailBase.csproj
  client/go/trailbase/LICENSE
  client/kotlin/lib/build.gradle.kts
  client/python/pyproject.toml
  client/swift/trailbase/LICENSE
  crates/assets/js/client/LICENSE
  crates/assets/js/client/package.json
  crates/client/Cargo.toml
Due: none

Add Wasmtime's `component-model-async` back.
  Cargo.toml
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/wit/trailbase/component/world.wit
  crates/wasm-runtime-guest/wit/trailbase/database/world.wit
  crates/wasm-runtime-host/Cargo.toml
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add placeholder support for WASM sqlite modules.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-guest/wit/trailbase/component/sqlite.wit
  crates/wasm-runtime-host/src/functions.rs
Due: cargofmt, cargoclippy, cargotest

Add a placeholder rusqlite VTab impl.
  Cargo.toml
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add client apis for WebSocket subscriptions (requires a ws-enabled server build) and tests behind the "ws" feature.
  Cargo.lock
  crates/cli/Cargo.toml
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Prepare new release v0.23.1.
  CHANGELOG.md
Due: none

Make `?filter[col][$like]=val` and other `LIKE` queries case-sensitive.
  crates/extension/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Fix type checker issues with python client and latest jwt lib. Also start using flake8 for more idiomatic code.
  .pre-commit-config.yaml
  client/python/.flake8
  client/python/pyproject.toml
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

Update Rust dependencies and fix incompatibilities.
  Cargo.lock
  Cargo.toml
  client/python/pyproject.toml
  crates/assets/js/admin/eslint.config.mjs
  crates/assets/js/admin/src/lib/api/row.ts
  crates/assets/js/admin/tsconfig.json
  crates/assets/js/bindings/InsertRowRequest.ts
  crates/assets/js/bindings/Stats.ts
  crates/assets/js/bindings/UpdateRowRequest.ts
  crates/wasm-runtime-guest/Cargo.toml
Due: none

Prepare new release v0.23.2.
  CHANGELOG.md
Due: none

Move sqlean/sqlite-vec loading to the CLI level and switch to maintained sqlite-vec fork: https://github.com/vlasky/sqlite-vec.
  .gitmodules
  Cargo.lock
  Cargo.toml
  client/testfixture/guests/rust/Cargo.toml
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/cli/Cargo.toml
  crates/cli/src/bin/trail.rs
  crates/extension/Cargo.toml
  crates/extension/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Fix sqlite-vec MUSL builds after switching to the fork.
  .gitmodules
  .rustfmt.toml
  Cargo.lock
  Cargo.toml
Due: none

Switch back to upstream serde_rusqlite.
  .gitmodules
  Cargo.lock
  Cargo.toml
Due: none

Show skeleton rows in tables while loading data to reduce visual jank.
  crates/assets/js/admin/src/components/Table.tsx
  crates/assets/js/admin/src/components/accounts/AccountsPage.tsx
  crates/assets/js/admin/src/components/editor/EditorPage.tsx
  crates/assets/js/admin/src/components/logs/LogsPage.tsx
  crates/assets/js/admin/src/components/settings/DatabaseSettings.tsx
  crates/assets/js/admin/src/components/tables/TablePane.tsx
Due: none

Fill the screen better with the ERD graph.
  crates/assets/js/admin/src/components/erd/ErdGraph.tsx
Due: none

Update serde_qs query parser.
  Cargo.lock
  Cargo.toml
  crates/core/src/records/subscribe.rs
  crates/qs/src/filter.rs
  crates/qs/src/query.rs
  crates/qs/src/value.rs
Due: cargofmt, cargoclippy, cargotest
